<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="D:\项目\electron-relax\dist\css\index.css">
  </head>
  <body>
    
    
    
    <a href="D:\项目\electron-relax\views\music\index.html">adfasd</a>
    
    
    <!-- You can also require other files to run in this process -->
    <script src="D:\项目\electron-relax\dist\js\index.js"></script>
  </body>
</html>
